<nav>
    <div class="logo-image" (click)="reloadHome()">
        <img src="../../../assets/images/LOGO JUANI.png" alt="LOGO JL ENTRENAMIENTOS">
        <h3>JL Entrenamientos</h3>
    </div>
    <div class="items-page">
        <li>
            <ul>
                <p>QUIEN SOY</p>
            </ul>
            <ul>
                <p>PLANES</p>
            </ul>
            <ul>
                <p>EL PATIO</p>
            </ul>
            <ul>
                <p>CONTACTAME</p>
            </ul>
        </li>
    </div>
</nav>