<nav>
    <div class="logo-image" (click)="reloadHome()">
        <img src="../../../assets/images/LOGO JUANI.png" alt="LOGO JL ENTRENAMIENTOS">
        <h3 (click)="reloadHome()">JL Entrenamientos</h3>
    </div>
    <button class="menu-btn" (click)="toggleMenu()">☰</button>
    <div class="items-page">
        <li>
            <ul>
                <a href="#about-me"><p>QUIEN SOY</p></a>
            </ul>
            <ul>
                <a href="#plans"><p>PLANES</p></a>
            </ul>
            <ul>
                <a href="#el-patio"><p>EL PATIO</p></a>
            </ul>
            <ul>
                <a href="#contact-me"><p>CONTACTAME</p></a>
            </ul>
        </li>
    </div>
</nav>