@use '../../design-system/_reset';
@use '../../design-system/_variables';

* {
    color: #ffff;
    background-color: black;
}

nav {
    display: grid;
    grid-template-areas: '1 2';
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    .logo-image {
        width: 60%;
        display: flex;
        align-items: center;

        img {
            width: 20%;
        }

        h3 {
            cursor: pointer;
            display: inline;
        }
    }

    .items-page {
        display: flex;
        align-items: center;

        li {
            display: inline-flex;
            width: max-content;

            ul {
                padding: 0 3rem;
                cursor: pointer;
            }

            ul:hover {
                p {
                    color: map-get(variables.$colors, 'brown-medium');
                    transition: color 0.3s ease-out;
                }

                transition: background-color 0.3s ease-out;
            }
        }
    }

}