body {
    background-color: black;
    color: #ffff;
    padding-bottom: 1rem;

    .title-section {
        text-align: center;
        padding: 1rem;
    }

    .icons-section {
        display: flex;
        justify-content: space-around;

        .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img {
                width: min-content;
            }
        }
    }

}

.icons-section.animate {
    animation: slide-up 1s ease-out;
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  