<body>
    <div class="title-section">
      <h1>Los pilares de JL Entrenamientos</h1>
      <h3>QUE TE LLEVARÁN A TUS OBJETIVOS</h3>
    </div>
    <div class="icons-section" scrollAnimation>
      <div class="icon">
        <img src="../../../assets/icons/yoga.png" alt="">
        <p>FUERZA Y RESISTENCIA <br>ADAPTABLES A TU NIVEL</p>
      </div>
      <div class="icon">
        <img src="../../../assets/icons/autoestima.png" alt="">
        <p>ACTITUD Y <br>TRABAJO CONSCIENTE</p>
      </div>
      <div class="icon">
        <img src="../../../assets/icons/revolucion.png" alt="">
        <p>GANAS Y <br>MOTIVACIÓN</p>
      </div>
      <div class="icon">
        <img src="../../../assets/icons/interesar.png" alt="">
        <p>CAMBIOS DE HÁBITOS <br>Y CONSTANCIA</p>
      </div>
    </div>
  </body>
  