<body>
  <div class="title-section">
    <h1>{{ pillars.title }}</h1>
    <h3>{{ pillars.subtitle }}</h3>
  </div>
  <div class="icons-section" scrollAnimation>
    <div class="icon">
      <img src="../../../assets/icons/yoga.png" alt="obtener resistencia y fuerza">
      <p class="other-padding">{{ pillars.items[0] }}</p>
    </div>
    <div class="icon">
      <img src="../../../assets/icons/autoestima.png" alt="tener actitud y trabajar conscientemente">
      <p>{{ pillars.items[1] }}</p>
    </div>
    <div class="icon">
      <img src="../../../assets/icons/revolucion.png" alt="ganas y motivacion">
      <p>{{ pillars.items[2] }}</p>
    </div>
    <div class="icon">
      <img src="../../../assets/icons/interesar.png" alt="cambios de habitos y constancia">
      <p>{{ pillars.items[3] }}</p>
    </div>
  </div>
</body>