@use '../../design-system/_reset';
@use '../../design-system/_variables';

*{
    text-align: center;
}

h1{
    color: #ffff;
    margin: 2rem;
}

.slider {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;

    .slider-content {
        position: relative;
        width: 100%;
    }

    .slider-images {
        display: flex;
        overflow: hidden;

        img {
            flex: 1;
            margin-right: 1rem;
            width: 50%;
            object-fit: cover;
            object-position: center;
        }
    }

    .slider-dots {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .slider-dot {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: #ccc;
            margin: 0 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &.active {
                background-color: map-get(variables.$colors, 'gray');
            }
        }
    }
}