@use '../../design-system/_reset';
@use '../../design-system/_variables';
@import '../../design-system/_mixins.scss';


* {
    text-align: center;
}

h1 {
    color: #ffff;
    margin: 2rem;
    margin-bottom: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.main-content-el-patio {
    display: grid;
    grid-template-areas: 'video images';
    padding: 2rem;

    @media (max-width: 1251px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .el-patio-video {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        @media (max-width: 1251px) {
            margin-bottom: 1rem;
        }

        .action-buttons {
            position: absolute;
            top: 20%;
            right: 5%;
            transform: translate(-50%, -50%);
            z-index: 1;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }

        video {
            width: 50rem;

            @include responsive-width(1381px, 45rem);
            @include responsive-width(756px, 35rem);
            @include responsive-width(579px, 30rem);
            @include responsive-width(495px, 25rem);
        }
    }

    .slider-image {
        background-color: transparent;
        border-radius: 10px;

        @media (max-width: 473px) {
            padding: 1.5rem;
            width: 25rem;
        }

        h1 {
            font-weight: 300;

            @media (max-width: 736px) {
                font-size: 1.5rem;
            }
        }



        .slider-image-content {
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 452px) {
                padding: 0.5rem;
            }

            .carousel-nav-left,
            .carousel-nav-right {
                width: 2rem;
                display: flex;
                height: 10rem;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #e6e6e641;
                }
            }

            .carousel-nav-left.disabled,
            .carousel-nav-right.disabled {
                cursor: not-allowed;
                opacity: 0.5;
                pointer-events: none;
            }


            .arrow-left,
            .arrow-right {
                width: 0;
                height: 0;
                border: solid #ffff;
                ;
                border-width: 0 5px 5px 0;
                display: inline-block;
                padding: 2px;

                &.arrow-left {
                    transform: rotate(135deg);
                }

                &.arrow-right {
                    transform: rotate(-45deg);
                }
            }

            .carousel-container {
                display: flex;
                overflow: hidden;
                width: 30rem;
                height: 30rem;
                align-items: center;
                justify-content: center;

                @media (max-width: 1381px) {
                    align-items: stretch;
                    height: 25rem;
                }

                @include responsive-width(1298px, fit-content);

                @media (max-width: 1251px) {
                    height: 30rem;
                }

                .image {
                    display: flex;
                    align-items: center;
                    max-width: 30rem;
                    max-height: 30rem;
                    transition: transform 0.3s ease-in-out;
                    padding: 0 10px;
                    text-align: center;
                    justify-content: center;

                    @include responsive-width(1381px, 25rem);

                    @media (max-width: 1381px) {
                        padding: 0 5px;
                    }

                    @media (max-width: 1251px) {
                        height: 30rem;
                    }


                    &.active {
                        opacity: 1;
                    }

                    img {
                        max-width: 100%;
                        height: 28rem;
                    }
                }
            }

            .preview {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding-top: 2rem;

                .preview-text {
                    display: flex;
                    align-items: center;

                    p {
                        padding: 0;
                        margin-left: 1rem;
                    }

                    img {
                        width: 2rem;
                        height: 2rem;

                        @media (max-width: 736px) {
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                    }
                }

            }

        }

    }
}