@use '../../design-system/_reset';
@use '../../design-system/_variables';

* {
    background-color: black;
}

.footer-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (max-width: 429px) {
        width: 105%;
    }

    .social-media-img {
        margin-bottom: 1rem;

        img:first-child {
            margin-right: 1.8rem;
        }
    }

    #copyright {
        color: #fff;

        p{
            @media (max-width: 503px) {
                font-size: 0.6rem;
            } 
        }
    }
}