<div class="footer-content">
    <div class="social-media-img">
        <a href="https://instagram.com/juani_lagreca?igshid=YmMyMTA2M2Y=" target="_blank">
            <img src="../../../assets/icons/instagram.png" alt="ir al instagram de juani lagreca">
        </a>
        <a href="https://www.youtube.com/@Juanilagrecapreparacionfisica" target="_blank">
            <img src="../../../assets/icons/youtube.png" alt="ir al canal de youtube de juani lagreca">
        </a>
        <a href="https://www.tiktok.com/@juani_lagreca" target="_blank">
            <img src="../../../assets/icons/tik-tok.png" alt="ir al tik-tok de juani lagreca">
        </a>
    </div>
    <div id="copyright"><p>Copyright&copy; 2023 - Created by <a target="_blank" href="https://www.instagram.com/vubadigital/">Vuba digital</a></p></div>
</div>