<div class="footer-content">
    <div class="social-media-img">
        <a href="https://instagram.com/juani_lagreca?igshid=YmMyMTA2M2Y=" target="_blank">
            <img src="../../../assets/icons/instagram.png" alt="ir a instagram">
        </a>
        <a href="https://www.youtube.com/@Juanilagrecapreparacionfisica" target="_blank">
            <img src="../../../assets/icons/youtube.png" alt="ir a youtube">
        </a>
        <a href="https://www.tiktok.com/@juani_lagreca" target="_blank">
            <img src="../../../assets/icons/tik-tok.png" alt="ir a tik-tok">
        </a>
    </div>
    <div id="copyright">Copyright&copy; 2023 - Created by Florencia Talavera</div>
</div>