@use '../../design-system/_reset';
@use '../../design-system/_variables';

*{
    background-color: black;
}

.footer-content{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    .social-media-img{
        margin-bottom: 1rem;

        img:first-child{
            margin-right: 1.8rem;
        }
    }

    #copyright{
        color: map-get(variables.$colors, 'brown' );
    }
}

@media (max-width: 429px) {
    .footer-content{
        width: 110%;
    }
}

@media (max-width: 365px) {
    .footer-content{
        #copyright{
            padding: 0 2rem;
        }
    }
}
