<h1>Elegí el plan que más se adapte a tus necesidades</h1>
<div class="plans-content">
    <div class="plan plan1">
        <h2>Plan Standad presencial</h2>
        <p>Este nombre destaca que tus planes están disponibles en línea y pueden ser una buena opción para aquellos que prefieren ejercitarse desde casa.</p>
    </div>
    <div class="plan plan2">
        <h2>Plan Premium presencial</h2>
        <p>Este nombre sugiere que tus planes están diseñados por un profesional y son ideales para aquellos que buscan resultados óptimos.</p>
    </div>
    <div class="plan plan3">
        <h2>Plan a Distancia</h2>
        <p>fuerte componente de interacción y comunicación con tus clientes, lo que puede ser atractivo para aquellos que buscan una experiencia personalizada y de calidad.</p>
    </div>
    <div class="plan plan4">
        <h2>Plan Online</h2>
        <p>fuerte componente de interacción y comunicación con tus clientes, lo que puede ser atractivo para aquellos que buscan una experiencia personalizada y de calidad.</p>
    </div>
    <div class="plan plan5">
        <h2>12 Weeks Program</h2>
        <p>fuerte componente de interacción y comunicación con tus clientes, lo que puede ser atractivo para aquellos que buscan una experiencia personalizada y de calidad.</p>
    </div>
</div>