@use '../../design-system/_reset';
@use '../../design-system/_variables';
@import '../../design-system/_mixins.scss';

@font-face {
    font-family: 'Rustic Printed Stamp';
    src: url('../../../assets/fonts/FontsFree-Net-Rustic-Printed-Stamp.ttf') format('truetype');
}

h1 {
    color: #ffff;
    margin: 2rem;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.plans-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .plan,
    .payment-methods {
        flex-basis: calc(24% - 10px);
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
            url('../../../assets/images/wall-gray.jpg');
        margin: 1rem;
        padding: 2rem;
        border-radius: 3%;

        @media (max-width: 828px) {
            flex-basis: calc(40% - 10px);
        }

        @media (max-width: 553px) {
            flex-basis: calc(60% - 10px);
        }

        @media (max-width: 458px) {
            flex-basis: calc(70% - 10px);
        }

        @media (max-width: 374px) {
            flex-basis: calc(80% - 10px);
        }
        

        h2 {
            font-family: 'Rustic Printed Stamp', sans-serif;
            font-size: map-get(variables.$font-sizes, 'subtitle');
        }

        p {
            font-size: map-get(variables.$font-sizes, 'subtext');
        }

        h2,
        p {
            background: transparent;
            display: inline;
            color: map-get(variables.$colors, 'primary');
        }

        img {
            margin-top: 1rem;
        }

        .item-plan {
            text-align: left;

            img {
                width: 1.2rem;
                margin-right: 0.5rem;
            }
        }

        .get-plan-button {
            width: 80%;
            font-size: map-get(variables.$font-sizes, 'text');
            font-weight: 700;
            padding: 0.6rem 2.3rem;
            margin: 1rem 0;
            height: 3rem;
            background-color: #ffffff96;
            border-radius: 1rem;
            border: solid 1.5px map-get(variables.$colors, 'brown-light');
            transition: background-color 0.3s ease, opacity 0.3s ease;
            box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.11);

            @media (max-width: 1184px) {
                padding: 0.6rem;
            }

            @include responsive-width(901px, 100%);
            @include responsive-width(553px, 80%);

            a {
                color: rgb(63, 62, 62);
                font-family: 'Barlow Semi Condensed', sans-serif;
            }
        }

        .get-plan-button:hover {
            background-color: rgb(72, 68, 68);
            opacity: 0.9;
            border: solid 1.5px #ffff;

            a {
                color: #ffff;
            }
        }

    }

    .plan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 26rem;

        @include responsive-height(1123px, 28rem);
        @include responsive-height(1006px, 32rem);
        @include responsive-height(871px, 34rem);
        @include responsive-height(553px, 26rem);

    }

    .payment-methods {
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 0.4rem solid #ffffff41;
        padding: 0 1.5rem;

        @media (max-width: 1439px) {
            padding: 0;
        }

        @media (max-width: 553px) {
            padding: 2rem;
        }        

        h2 {
            color: #ffff;
            font-size: map-get(variables.$font-sizes, 'subtitle');

            @media (max-width: 1239px) {
                text-align: center;
            }
        }

        .item-method {
            display: flex;
            align-items: flex-end;
            padding-left: 2rem;

            @media (max-width: 1239px) {
                flex-direction: column;
                align-items: center;
                padding-left: 0;
            }

            p {
                color: #ffff;
                margin-left: 0.5rem;
            }

            .mp-image {
                width: 2.5rem;
            }
        }
    }
}



@media (min-width: 768px) {

    .plan,
    .payment-methods {
        flex-basis: calc(33.33% - 20px);
    }

    .plans-content {
        justify-content: center;
    }
}