<h1>Elegí el plan que más se adapte a tus necesidades</h1>
<div class="plans-content">
    <div class="plan plan1">
        <h2>Plan Standad presencial</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item uno.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item dos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item tres.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cuatro.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cinco.</p>
        </div>
        <button class="get-plan-button">Solicitalo Ahora</button>
    </div>
    <div class="plan plan2">
        <h2>Plan Premium presencial</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item uno.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item dos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item tres.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cuatro.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cinco.</p>
        </div>
        <button class="get-plan-button">Solicitalo Ahora</button>
    </div>
    <div class="plan plan3">
        <h2>Plan a Distancia</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item uno.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item dos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item tres.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cuatro.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cinco.</p>
        </div>
        <button class="get-plan-button">Solicitalo Ahora</button>
    </div>
    <div class="plan plan4">
        <h2>Plan Online</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item uno.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item dos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item tres.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cuatro.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cinco.</p>
        </div>
        <button class="get-plan-button">Solicitalo Ahora</button>
    </div>
    <div class="plan plan5">
        <h2>12 Weeks Program</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item uno.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item dos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item tres.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cuatro.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/check.png" alt="">
            <p>Item cinco.</p>
        </div>
        <button class="get-plan-button">Solicitalo Ahora</button>
    </div>
</div>