<h1>Elegí el plan que más se adapte a tus necesidades</h1>
<div class="plans-content">
    <div class="plan plan3">
        <h2>Plan a Distancia</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Planificación personalizada.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención personalizada.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Videos explicativos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención 24/7.</p>
        </div>
        <!---<button class="get-plan-button">Solicitalo Ahora</button>--->
    </div>
    <div class="plan plan4">
        <h2>Plan Online</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Planificación personalizada.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención a distancia.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Videos explicativos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención 24/7.</p>
        </div>
        <!---<button class="get-plan-button">Solicitalo Ahora</button>--->
    </div>
    <div class="plan plan5">
        <h2>12 Weeks Program</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Planificación genérica.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención a distancia.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Videos explicativos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención 24/7.</p>
        </div>
        <!---<button class="get-plan-button">Solicitalo Ahora</button>--->
    </div>
    <div class="plan plan1">
        <h2>Plan Standad presencial</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Planificación personalizada.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Centro de entrenamiento en Villa Crespo, CABA.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención semipersonalizada.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Videos explicativos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención 24/7.</p>
        </div>
        <!---<button class="get-plan-button">Solicitalo Ahora</button>--->
    </div>
    <div class="plan plan2">
        <h2>Plan Premium presencial</h2>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Planificación personalizada.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención personalizada.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Videos explicativos.</p>
        </div>
        <div class="item-plan">
            <img src="../../../assets/icons/flecha2.png" alt="">
            <p>Atención 24/7.</p>
        </div>
        <!---<button class="get-plan-button">Solicitalo Ahora</button>--->
    </div>
    <div class="payment-methods">
        <h2>Métodos de Pago</h2>
        <div class="item-method">
            <img src="../../../assets/icons/efectivo.png" alt="metodo de pago efectivo">
            <p>Efectivo</p>
        </div>
        <div class="item-method">
            <img class="mp-image" src="../../../assets/icons/mp.png" alt="metodo de pago mercado pago">
            <p>Mercado Pago</p>
        </div>
        <div class="item-method">
            <img src="../../../assets/icons/transferencia-bancaria.png" alt="metodo de pago transferencia bancaria">
            <p>Transferencia Bancaria</p>
        </div>
    </div>
</div>