@use '../../design-system/_reset';
@use '../../design-system/_variables';
@import '../../design-system/_mixins.scss';

.slider-content {
    margin-top: 5rem;

    .video-container {

        @include responsive-height(769px, 30rem);
        @include responsive-height(410px, 15rem);

        #video-presentation {
            width: 100%;
        }

        .video-pause {
            position: absolute;
            right: 1.8rem;
            margin-top: 0.5rem;
            z-index: 2;
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .video-pause:hover {
            color: #e9e3e3;
        }
    }
}
