@use '../../design-system/_reset';
@use '../../design-system/_variables';

.slider-content {
    .video-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 86vh;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}