@use '../../design-system/_reset';
@use '../../design-system/_variables';

.slider-content {
    margin-top: 5rem;

    .video-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 86vh;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .video-pause {
            position: absolute;
            right: 1rem;
            margin-top: 0.5rem;
            z-index: 2;
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .video-pause:hover {
            color: #e9e3e3;
        }
    }
}