<div class="who-is-juani">
    <div class="image-juani">
        <img src="../../../assets/images/juani.jpeg"
            alt="descripcion de trayectoria de juani lagreca preparador fisico en Buenos Aires">
    </div>
    <div class="presentation-text">
        <h1>{{ presentation?.greeting }}</h1>
        <div>
            <p>{{ presentation?.firstText }}</p><br><br>
            <p>{{ presentation?.question }}</p>
        </div>
        <br>
        <p class="bold-text"><img src="../../../assets/icons/flecha.png" alt="alcanzar objetivos"> {{
            presentation?.items[0] }}:</p>
        <p> {{ presentation?.itemsText[1] }}</p><br>
        <p class="bold-text"><img src="../../../assets/icons/flecha.png" alt="alcanzar objetivos"> {{
            presentation?.items[1] }}:</p>
        <p> {{ presentation?.itemsText[2] }}</p><br>
        <p class="bold-text"><img src="../../../assets/icons/flecha.png" alt="alcanzar objetivos"> {{
            presentation?.items[2] }}:</p>
        <p> {{ presentation?.itemsText[3] }}</p><br>
        <p class="bold-text"><img src="../../../assets/icons/flecha.png" alt="alcanzar objetivos"> {{
            presentation?.items[3] }}:</p>
        <p> {{ presentation?.itemsText[4] }}</p>
        <br><br>
        <p>{{ presentation?.lastText }}</p>
    </div>
</div>