@use '../../design-system/_reset';
@use '../../design-system/_variables';
@import '../../design-system/_mixins.scss';

.who-is-juani {
  display: grid;
  grid-template-areas: 'img text';
  gap: 8rem;
  color: #ffff;
  margin: 3rem 5rem;
  align-items: center;

  @media (max-width: 1275px) {
    gap: 5rem;
  }

  @media (max-width: 1165px) {
    margin: 3rem;
  }

  @media (max-width: 1040px) {
    display: block;

    .presentation-text {
      width: 100%;
      padding: 2rem 4rem;
    }

  }


  .image-juani {
    display: flex;
    justify-content: space-around;

    img {
      width: 28rem;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

      @include responsive-width(1124px, 25rem);
      @include responsive-width(508px, 14rem);
    }

  }

  .presentation-text {
    width: 100%;

    @media (max-width: 927px) {
      padding: 2rem 3rem;
    }

    @media (max-width: 867px) {
      padding: 2rem;
    }
    
    @media (max-width: 508px) {
      padding: 2rem 0;
    }

    h1 {
      text-align: center;
      margin: 1rem 0;
      font-family: 'Barlow Semi Condensed', sans-serif;

    }

    .bold-text {
      font-weight: bold;
      display: inline;
    }

    p {
      line-height: 1.5;
      font-size: map-get(variables.$font-sizes, 'subtext');
      display: inline;
    }

  }

}

.animate {
  animation: slide-in-left 1.8s ease-out;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}