<div class="who-is-juani">
    <div class="image-juani">
        <img src="../../../assets/images/juani.jpg"
            alt="descripcion de trayectoria de juani lagreca preparador fisico en Buenos Aires">
    </div>
    <div class="presentation-text">
        <h1>Hola! Soy Juani Lagreca<br> Preparador físico y entrenador</h1>
        <div class="other-center">
            <p>
                Cuento con más de 10 años de experiencia y mi objetivo es ayudarte a alcanzar tus objetivos de manera
                efectiva y sostenible, brindándote un enfoque personalizado y resultados tangibles.<br>
                ¿Qué te ofrece mi enfoque de entrenamiento?</p><br>
        </div>
        <p class="bold-text"><img src="../../../assets/icons/flecha.png" alt="alcanzar objetivos"> Experiencia
            comprobada:</p>
        <p> Con más de una
            década dedicada al entrenamiento físico, tengo el conocimiento y la experiencia necesarios para guiar tu
            camino hacia el éxito.</p>
        <p class="bold-text"><img src="../../../assets/icons/flecha.png" alt="alcanzar objetivos"> Planes
            personalizados:</p>
        <p> Entiendo que
            cada individuo es único, por lo que diseño planes de entrenamiento adaptados a tus necesidades y objetivos
            específicos.</p>
        <p class="bold-text"><img src="../../../assets/icons/flecha.png" alt="alcanzar objetivos"> Atención
            individualizada:</p>
        <p> Mi enfoque
            se centra en vos en cada sesión. Mi objetivo es brindarte el apoyo y la orientación necesarios para superar
            obstáculos y maximizar tus resultados.</p>
        <p class="bold-text"><img src="../../../assets/icons/flecha.png" alt="alcanzar objetivos"> Resultados
            garantizados:</p>
        <p> Mi compromiso
            es ayudarte a lograr los resultados que deseas. Trabajaremos juntos, marcando hitos alcanzables y midiendo
            tu progreso en el camino.</p><br>
            <p>Ya sea que busques perder peso, ganar fuerza, mejorar tu condición física general o alcanzar cualquier otro
            objetivo relacionado con el bienestar, estoy acá para guiarte en cada paso del camino.
            ¡No esperes más para transformar tu vida! Contáctame hoy mismo y juntos lograremos que alcances tus
            objetivos de forma efectiva y duradera.</p>
    </div>
</div>