@use '../../design-system/_reset';
@use '../../design-system/_variables';


.who-is-juani{
    display: grid;
    grid-template-areas: 'img text';
    color: #ffff;
    padding: 0 5rem;
    margin-bottom: 3rem;

    .image-juani{
        display: flex;
        justify-content: center;

        img{
            width: 70%;
        }

    }

    .presentation-text{
        text-align: center;
        width: 80%;

        h1{
            margin: 1rem;
        }

        p{
            font-size: map-get(variables.$font-sizes, 'text');
        }

    }

}