<div class="who-is-juani">
    <div class="image-juani">
        <img src="../../../assets/images/juani.jpg" alt="juani profe">
    </div>
    <div class="presentation-text">
        <h1>Soy Juani Lagreca</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, corporis. Odio blanditiis, placeat dolores sunt ut temporibus harum dignissimos consectetur iste, totam dicta quae incidunt eveniet voluptates voluptatem provident excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, aliquam cum. Tempora dicta nam in vitae expedita rerum doloremque voluptas minus enim quidem at, beatae, a harum praesentium, atque sapiente.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nulla temporibus, voluptates nesciunt soluta quod, iure sapiente perferendis quis placeat delectus esse dolor! Vel corrupti et sit cupiditate magni eaque?
        </p>
    </div>
</div>
