@use '../../design-system/_reset';
@use '../../design-system/_variables';

.who-is-juani {
  display: grid;
  grid-template-areas: 'img text';
  gap: 2rem;
  color: #ffff;
  margin: 3rem 5rem;

  .image-juani {
    display: flex;
    justify-content: space-around;

    img {
      width: 100%;
    }

  }

  .presentation-text {
    width: 100%;

    h1 {
      text-align: center;
      margin: 1rem;
    }

    .other-center{
      text-align: center;
    }

    .bold-text{
      font-weight: bold;
      display: inline;
    }

    p {
      line-height: 1.5;
      font-size: map-get(variables.$font-sizes, 'subtext');
    }

  }

}

.animate {
  animation: slide-in-left 1.8s ease-out;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1124px) {
  .who-is-juani {

    .image-juani {

      img {
        width: 80%;
      }

    }
  }
}

@media (max-width: 1040px) {
  .who-is-juani {
    display: block;

    .image-juani {

      img {
        width: 50%;
      }

    }

    .presentation-text {
      width: 100%;
      padding: 2rem 4rem;
    }
  }
}

@media (max-width: 563px) {
  .who-is-juani {

    .image-juani {

      img {
        width: 60%;
      }

    }
  }
}