.main-content-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/images/wall-gray.jpg');

}

.whatsapp-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    .whatsapp-icon {
        padding: 10px;
        border-radius: 50%;
    }
}

@media (max-width: 428px) {
    .main-content-page{
        width: 105%;
    }
}

@media (max-width: 360px) {
    .main-content-page{
        width: 110%;
    }
}